# SIVI 1.0.0.0 - SERVIDOR MYSQL 8.4 INDEPENDIENTE
APP_VERSION=1.0.0.0
APP_ENV=production
APP_BUILD_ID=SIVI-1.0.0.0
APP_GIT_COMMIT=REEMPLAZAR_COMMIT_REAL_GITHUB
APP_TIMEZONE=America/Bogota
DEPLOYMENT_TOPOLOGY=split
APP_SERVER_HOSTNAME=REEMPLAZAR_HOST_APP
DB_SERVER_HOSTNAME=REEMPLAZAR_HOST_DB
DB_CONTAINER_NAME=sivi-produccion-db
DB_LISTEN_IP=REEMPLAZAR_IP_PRIVADA_DB
DB_PORT=3306
DB_DATABASE=sivi_produccion
DB_USERNAME=sivi_user
DB_BACKUP_USERNAME=sivi_backup
DB_MAX_CONNECTIONS=200
DB_INNODB_BUFFER_POOL_SIZE=3G
DB_PASSWORD_SECRET_FILE=/opt/sivi/secrets/db_password
DB_BACKUP_PASSWORD_SECRET_FILE=/opt/sivi/secrets/db_backup_password
MYSQL_ROOT_PASSWORD_SECRET_FILE=/opt/sivi/secrets/mysql_root_password
DB_TLS_CA_HOST_PATH=/opt/sivi/pki/ca.pem
DB_TLS_SERVER_CERT_HOST_PATH=/opt/sivi/pki/db-server.crt
DB_TLS_SERVER_KEY_HOST_PATH=/opt/sivi/pki/db-server.key
